
<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation" class = "callout primary large" data-closable>
      <h2>
        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
      </h2>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
				
			<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
				<span aria-hidden="true">&times;</span>
			</button>
    </div>
				
  <% end %>	

<br><br>			
	<div class="row">
		
		<div class ="medium-6 medium-centered columns">
			<div class="field">
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>

			<div class="field">
				<%= f.label :email %>
				<%= f.email_field :email %>
			</div>

			<div class="field">
				<%= f.label :subject %>
				<%= f.text_field :subject %>
			</div>

			<div class="field">
				<%= f.label :content %>
				<%= f.text_area :content, rows: "5" %>
			</div>

			<center>
			<div class="actions">
				<%= f.submit 'Send', class: 'button' %>
			</div>
			</center>
		</div>				
	</div>		
<% end %>