<br><br>

	<div class="row expanded">
		<div class="large-6 columns">
<center><h1>Men's T-Shirts</h1></center>
			<div class="row small-up-3 medium-up-3 large-up-3">
				
				<div class="column">
					<%= image_tag("shirt_erfyd.png", :class => "thumbnail")%>
				</div>
				<div class="column">
					<%= image_tag("shirt_healthydick.png", :class => "thumbnail")%>
				</div>
				<div class="column">
					<%= image_tag("shirt_erfyd_rainbow.png", :class => "thumbnail")%>
				</div>

			</div>
			
			
			<div class="row small-up-2 medium-up-2 large-up-2">
				
				<div class="column">
					<%= image_tag("shirt_men_back_chap14.png", :class => "thumbnail")%>
				</div>
				<div class="column">
					<%= image_tag("shirt_men_back_cover.png", :class => "thumbnail")%>
				</div>

			</div>
			
		</div>
		
		
		
		<div class="large-6 columns">

			<center><h1>Woman's T-Shirts</h1></center>
			<div class="row small-up-3 medium-up-3 large-up-3">
				
				<div class="column">
					<%= image_tag("female_shirt_black_erfyd.png", :class => "thumbnail")%>
				</div>
				<div class="column">
					<%= image_tag("female_shirt_black_healthy.png", :class => "thumbnail")%>
				</div>
				<div class="column">
					<%= image_tag("female_shirt_erfyd_rainbow.png", :class => "thumbnail")%>
				</div>

			</div>
			
			<div class="row small-up-2 medium-up-2 large-up-2">
				
				<div class="column">
					<%= image_tag("female_shirt_black_back_chap13.png", :class => "thumbnail")%>
				</div>
				<div class="column">
					<%= image_tag("female_shirt_black_back_cover.png", :class => "thumbnail")%>
				</div>

			</div>
			
		</div>
		
		
		
	</div>
	<div class="row expanded">
		<div class="row small-up-3 medium-up-3 large-up-6 ">
				<% @products.each do |category, products| %>

						<% products.each do |product| %>
							<% if product.in_stock? %>
								<div class="column">
									<%=link_to(image_tag(product.default_image.path), product_path(product.permalink), method: :get)%>
								</div>				
							<% end %>
						<% end %>

				<% end %>
		</div>

	</div>



	<hr>

	<center><h1>Needed Essentials</h1></center>
	<div class="row expanded">
		
		<div class="row small-up-3 medium-up-3 large-up-6">
				
				<div class="column">
					<a href="https://www.amazon.com/gp/product/B00V9FJZMY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00V9FJZMY&linkCode=as2&tag=eatrightforyo-20&linkId=b26ff9177d6df0c763280fc224bc7f18"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00V9FJZMY&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B00V9FJZMY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</div>
			
				<div class="column">
					<a href="https://www.amazon.com/gp/product/B004O07LRC/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B004O07LRC&linkCode=as2&tag=eatrightforyo-20&linkId=a0c84d1de2a8b632d14709ad741a2038"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B004O07LRC&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B004O07LRC" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</div>

			<div class="column">
				<a href="https://www.amazon.com/gp/product/B00KIVD1PC/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00KIVD1PC&linkCode=as2&tag=eatrightforyo-20&linkId=5adfbd1ad5d24442758ddd49fe3b1eac"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00KIVD1PC&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B00KIVD1PC" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B00JWTGR5M/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00JWTGR5M&linkCode=as2&tag=eatrightforyo-20&linkId=a3ad540b7e25bfbac72864674b3a107e"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00JWTGR5M&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B00JWTGR5M" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B00JR5AD6A/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00JR5AD6A&linkCode=as2&tag=eatrightforyo-20&linkId=5161ba9bdda05faf4cbc2b3db8d45442"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00JR5AD6A&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B00JR5AD6A" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B002DY1GC2/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002DY1GC2&linkCode=as2&tag=eatrightforyo-20&linkId=32e10495e5f160ec429d85685d44c581"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B002DY1GC2&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B002DY1GC2" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			
			</div>
		
		
	<br>

	<div class="row small-up-3 medium-up-3 large-up-6">
			<div class="column">
			<a href="https://www.amazon.com/gp/product/B01ERUTJLY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01ERUTJLY&linkCode=as2&tag=eatrightforyo-20&linkId=8ff2a425b7717336b642dd1dfb5f72ca"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B01ERUTJLY&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B01ERUTJLY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B00LYD9KMQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00LYD9KMQ&linkCode=as2&tag=eatrightforyo-20&linkId=895b1c0e1c27404c9563f1c43c1d74e9"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00LYD9KMQ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B00LYD9KMQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B0198W203U/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0198W203U&linkCode=as2&tag=eatrightforyo-20&linkId=d2b8c400a2ec6944bc532c502bc59c03"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0198W203U&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B0198W203U" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			</div>
		
			<div class="column">
		<a href="https://www.amazon.com/gp/product/B003X3W2H0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B003X3W2H0&linkCode=as2&tag=eatrightforyo-20&linkId=24d4520e667bbc51cd5a575e68f420bb"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B003X3W2H0&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B003X3W2H0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B01AO2ZQ9I/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01AO2ZQ9I&linkCode=as2&tag=eatrightforyo-20&linkId=1cc91eaf25913602cc6f86865c50883c"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B01AO2ZQ9I&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B01AO2ZQ9I" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B0000E5JRZ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0000E5JRZ&linkCode=as2&tag=eatrightforyo-20&linkId=d1f4a4bd00045342cce755adb62a2bf6"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B0000E5JRZ&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B0000E5JRZ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			
	</div>

		<br>
		<div class="row small-up-3 medium-up-3 large-up-6">
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B001I7MVG0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B001I7MVG0&linkCode=as2&tag=eatrightforyo-20&linkId=2ac8f673da8bd5920df9b14fb6ed21a1"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B001I7MVG0&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B001I7MVG0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B006CQ1ZHI/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B006CQ1ZHI&linkCode=as2&tag=eatrightforyo-20&linkId=c4edec82be45fe9cb71309f584d3e5d8"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B006CQ1ZHI&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B006CQ1ZHI" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B002PA3LJU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B002PA3LJU&linkCode=as2&tag=eatrightforyo-20&linkId=6c054d4d6d869a0dd6e02cb1aa012c47"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B002PA3LJU&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B002PA3LJU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
		
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B00PDLNWB0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00PDLNWB0&linkCode=as2&tag=eatrightforyo-20&linkId=b8c1484d696c8d9e501b4c76be447a1a"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00PDLNWB0&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B00PDLNWB0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B00CJFDIXA/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00CJFDIXA&linkCode=as2&tag=eatrightforyo-20&linkId=4033876ec21d4f200c8b72b275634d01"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00CJFDIXA&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B00CJFDIXA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B000N1ZB6Y/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B000N1ZB6Y&linkCode=as2&tag=eatrightforyo-20&linkId=37d740b6204afba3c31176263f1550ec"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B000N1ZB6Y&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B000N1ZB6Y" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			
			
		</div>
			<br>
		<div class="row small-up-3 medium-up-3 large-up-6">
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B00HTOIQVA/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00HTOIQVA&linkCode=as2&tag=eatrightforyo-20&linkId=7e5fd370b6dd3ab319f0332a728f4bdb"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00HTOIQVA&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B00HTOIQVA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				
			
			</div>
			
			<div class="column">
				<a href="https://www.amazon.com/gp/product/B009KZ3EAO/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009KZ3EAO&linkCode=as2&tag=eatrightforyo-20&linkId=0fc651edfdf46344650e9a280d2eb49b"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B009KZ3EAO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=eatrightforyo-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=eatrightforyo-20&l=am2&o=1&a=B009KZ3EAO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
			
			</div>
			


			
	</div>
			
</div>
	
	

