<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ERFYD" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <!-- logo and ad break -->
  <div class="row">

    <div class="medium-8 medium-centered columns">
      <%= link_to image_tag("Logo2.png"), root_url, method: :get %>
    </div>
  </div>
  <!-- / logo and ad break -->

  <div class="top-bar" >
		<span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon light" type="button" data-toggle></button>
    </span>
			<ul class="menu" data-responsive-menu="drilldown medium-dropdown small-dropdown">
				<div class="menu vertical medium-horizontal expanded medium-text-center"  id="responsive-menu">
					<li>
						<%= link_to "Dick Trilogy", trilogy_path, method: :get%>
					</li>
					<li>
						<%=link_to("Book Purchase", "https://www.amazon.com/dp/B01IDZJ5KY", :target => "_blank")%>
					</li>
					<li>
						<%= link_to "Members", members_path, method: :get %>
					</li>
					<li>
						<%= link_to "Merchandise", products_path, method: :get%>
					</li>
					<li>
						<%= link_to "About Us", about_path, method: :get%>
					</li>
					<li>
						<%= link_to "Contact", contact_path, method: :get%>
					</li>
				</div>
			</ul>
  </div>

    <%= yield %>

  </body>


<!-- Footer -->
<footer class="footer">
  <div class="row full-width">
		
		<%=link_to(image_tag("facebook.png"), "https://www.facebook.com/Eat-Right-For-Your-Dick-900722053387341/", :target => "_blank")%>&nbsp;
		<%=link_to(image_tag("instagram.png"), " https://www.instagram.com/eatrightforyourdick/", :target => "_blank")%>&nbsp;
		<%=link_to(image_tag("twitter.png"), "https://twitter.com/ERFYDick", :target => "_blank")%>&nbsp;

  </div>
</footer>
	
</html>
